---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2021 - Actual",
    title: "Desarrollador Front end SSR",
    company: "Shipnow",
    description:
      "Shipnow es una empresa enfocada en la gestion de la logística de envíos e integracion con e-commerces. Soy parte del equipo de frontend que se encarga, junto con los equipos de Backend, Ux/Ui y Producto, del mantenimiento y desarrollo de 4 aplicaciones, 2 webapps, un design system publicado en npm y una app mobile desarrollada en flutter.",
    link: "https://sebastianchaca-cv.vercel.app/",
  },
  {
    date: "2021 - 2022",
    title: "Equipo tecnico de admisión",
    company: "Alkemy",
    description:
      "Alkemy es un bootcamp donde desarrolladores juniors aprenden metodologías ágiles, trabajo en equipo y reciben toda la formación necesaria para iniciarse en el mundo del desarrollo. Mi tarea consistía en corregir la prueba técnica de ingreso del equipo de  Frontend.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
